/* PointerEffect.css */
.container_pointer {
  position: relative;
  overflow: hidden;
}

.red_pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none; /* Evita que el punto rojo interfiera con los eventos del mouse */
  transform: translate(
    -50%,
    -50%
  ); /* Centra el punto en la posición del mouse */
}
